# Ignore virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Python build artifacts
build/
dist/
*.egg-info/

# Data/model files
# *.pt
!model/model.pt     # allow this specific file
data/

